@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.background{
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  height: 90%
}

.images{
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: rgba(255, 255, 255, .7);
  overflow: scroll;
}

.rightMenu{
  font-family: 'Open Sans', sans-serif;
  height: 90%;
  background-color: rgba(255, 255, 255);
}

.rightMenu > h1{
  text-align: center;
}

.selectedItems{
  height: 85%;
}

/* relevant styles */
.clothingInfo {
  background-color: white;
}

.img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 1;
}

#infoHeader{
  text-align: center;
}

.clothingInfo{
  border: 2px solid grey;
}