#backgroundA{
    background-color: #fff;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  
  #textBox{
    margin: 200px 1000px;
    padding: 40px;
    background-color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
  }